.badge {
    background-color: tomato;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.etc-badge {
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    color: white;
}

.phone-exclamation-badge {
    color: tomato;
    margin-left: 6px;
}